:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .layout-select-form-field {
    height: 40px;
    width: 40px;
  }
}
