<div class="layout-toolbar">
  <mat-form-field matTooltip="select layout" class="layout-select-form-field icon-select-field">
    <mat-select [formControl]="templateCtrl" (selectionChange)="onSelectionChange($event)">
      <mat-select-trigger>
        <mat-icon>style</mat-icon>
      </mat-select-trigger>
      <mat-option *ngFor="let template of templateOption" [value]="template.id">
        {{ template.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="print-btn" matTooltip="print pdf" mat-icon-button (click)="onPrintPdf()">
    <mat-icon>local_printshop</mat-icon>
  </button>
</div>
<div class="layout-preview mb-16">
  <ng-container #templateContainer></ng-container>
</div>
