.title-info {
  display: flex;
  align-items: flex-end;

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: var(--resume-preview-theme-color);
  }

  .title {
    font-weight: bold;
    font-size: 16px;
  }
}

.divider {
  width: 90px;
  height: 5px;
  background: var(--resume-preview-theme-color);
}
