<h3 class="experience-title">
  {{ 'General.Field.WorkExperience' | translate }}
  <span>
    <button mat-icon-button [matTooltip]="'Editing.Field.AddField' | translate">
      <mat-icon fontSet="fas" fontIcon="fa-plus" (click)="onAddExperience()"></mat-icon>
    </button>
  </span>
</h3>
<div class="experience" [formGroup]="form">
  <mat-card [formArrayName]="formProp.Experience" *ngFor="let item of form.get(formProp.Experience)['controls']; let groupIndex = index">
    <ng-container [formGroup]="item">
      <h4 class="experience-group-title">
        {{ groupIndex + 1 }}.
        <span>
          <button mat-icon-button [matTooltip]="'Editing.Field.RemoveField' | translate">
            <mat-icon fontSet="fas" fontIcon="fa-trash" (click)="onRemoveExperience(groupIndex)"></mat-icon>
          </button>
        </span>
      </h4>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'General.Field.JobPeriod' | translate }}</mat-label>
        <input class="caret-white" matInput [formControlName]="formArrayProp.Period" />
        <mat-hint>{{ 'Editing.Message.WriteYourJobPeriod' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'General.Field.WorkPlace' | translate }}</mat-label>
        <input class="caret-white" matInput [formControlName]="formArrayProp.WorkPlace" />
        <mat-hint>{{ 'Editing.Message.WriteYourWorkPlace' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-8" appearance="outline">
        <mat-label>{{ 'General.Field.Company' | translate }}</mat-label>
        <input class="caret-white" matInput [formControlName]="formArrayProp.Company" />
        <mat-hint>{{ 'Editing.Message.WriteYourCompany' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-8" appearance="outline">
        <mat-label>{{ 'General.Field.JobTitle' | translate }}</mat-label>
        <input class="caret-white" matInput [formControlName]="formArrayProp.JobTitle" />
        <mat-hint>{{ 'Editing.Message.WriteYourJobTitleInCompany' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-8" appearance="outline">
        <mat-label>{{ 'General.Field.JobSkill' | translate }}</mat-label>
        <textarea
          class="caret-white"
          rows="5"
          matInput
          [formControlName]="formArrayProp.SkillTags"
          [placeholder]="'Editing.Message.SeparateSkillNameByComma' | translate"
        >
        </textarea>
        <mat-hint>{{ 'Editing.Message.WriteYourJobSkillInCompany' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field class="mt-8" appearance="outline">
        <mat-label>{{ 'General.Field.JobDescription' | translate }}</mat-label>
        <textarea class="caret-white" rows="10" matInput [formControlName]="formArrayProp.JobDescription"> </textarea>
        <mat-hint>{{ 'Editing.Message.WriteYourJobDescription' | translate }}</mat-hint>
      </mat-form-field>
    </ng-container>
  </mat-card>
</div>
