:host {
  display: flex;
  height: 100%;
}

yur-resume-edit {
  min-width: 540px;
  max-height: 100vh;
  overflow: auto;
}

yur-resume-preview {
  min-width: 860px;
  max-height: 100vh;
  overflow: auto;
}

.separate-line {
  flex-shrink: 0;
  flex-basis: 8px;
  box-shadow: 4px 0 4px #ddd;
}
