<h3 class="portfolio-title">
  Portfolio
  <span>
    <button mat-icon-button matTooltip="Add field">
      <mat-icon fontSet="fas" fontIcon="fa-plus" (click)="onAddPortfolio()"></mat-icon>
    </button>
  </span>
</h3>
<div class="portfolio" [formGroup]="form">
  <mat-card [formArrayName]="formProp.Portfolio" *ngFor="let item of form.get(formProp.Portfolio)['controls']; let groupIndex = index">
    <ng-container [formGroup]="item">
      <h4 class="portfolio-group-title">
        {{ groupIndex + 1 }}.
        <span>
          <button mat-icon-button matTooltip="Remove field">
            <mat-icon fontSet="fas" fontIcon="fa-trash" (click)="onRemovePortfolio(groupIndex)"></mat-icon>
          </button>
        </span>
      </h4>
      <div class="portfolio-photo-count">
        <span>Select Upload Photo Count:</span>
        <mat-radio-group [formControlName]="formArrayProp.PhotoCount" (change)="onPhotoCountChange(item, $event)">
          <mat-radio-button class="ml-8" [value]="1">1</mat-radio-button>
          <mat-radio-button class="ml-8" [value]="2">2</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="portfolio-photo mt-8">
        <div class="portfolio-photo-item" *ngFor="let photo of item.get(formArrayProp.Photos).value; let photoIndex = index">
          <yur-upload-image
            [src]="photo"
            [options]="{ defaultText: 'Upload Photo', aspectRatio: 'auto' }"
            (srcChange)="onSrcChange(item, $event, photoIndex)"
          >
          </yur-upload-image>
        </div>
      </div>
      <mat-form-field class="mt-8" appearance="outline">
        <mat-label>Portfolio Description</mat-label>
        <textarea
          class="caret-white"
          rows="10"
          matInput
          [formControlName]="formArrayProp.Description"
          placeholder="Separate skill name by comma, e.g, Css3, Nodejs"
        >
        </textarea>
        <mat-hint>write your portfolio description.</mat-hint>
      </mat-form-field>
    </ng-container>
  </mat-card>
</div>
