<div class="resume-edit-tool">
  <button class="resume-edit-tool-upload-btn" matTooltip="upload file" mat-icon-button>
    <mat-icon fontSet="fas" fontIcon="fa-file-upload"></mat-icon>
    <input class="caret-white" type="file" accept=".txt,.json" (change)="onUploadFile($event)" />
  </button>
  <button matTooltip="download file" mat-icon-button (click)="onDownloadFile()">
    <mat-icon fontSet="fas" fontIcon="fa-file-download"></mat-icon>
    <a [style.display]="'none'" #downloadRef></a>
  </button>
</div>
<ng-container [formGroup]="form">
  <yur-resume-edit-about-me formControlName="aboutMe"></yur-resume-edit-about-me>
  <yur-resume-edit-profile class="mt-8" formControlName="profile"></yur-resume-edit-profile>
  <yur-resume-edit-education class="mt-8" formControlName="education"></yur-resume-edit-education>
  <yur-resume-edit-experience class="mt-8" formControlName="experience"></yur-resume-edit-experience>
  <yur-resume-edit-portfolio class="mt-8" formControlName="portfolio"></yur-resume-edit-portfolio>
</ng-container>
