<div class="upload-images-container" [class.disabled]="options?.disabled" [class.isIconPreview]="options?.isIconPreview">
  <label [for]="inputId">
    <img *ngIf="src" class="images" [src]="src" alt="upload images" />
    <div *ngIf="!src" class="images default-images">
      <img class="images" *ngIf="options?.defaultSrc" [src]="options?.defaultSrc" alt="default images" />
      <div *ngIf="!options?.defaultSrc && options?.defaultText">{{ options?.defaultText }}</div>
    </div>
  </label>
  <input
    class="caret-white"
    [id]="inputId"
    class="upload-images"
    accept="image/*"
    type="file"
    (change)="onFileChange($event.target)"
    [disabled]="options?.disabled ? 'disabled' : null"
  />
  <div class="image-tools" *ngIf="src">
    <mat-icon
      fontSet="fas"
      class="clear-icon"
      fontIcon="fa-trash"
      (click)="onClearImage()"
      *ngIf="options?.isShowClearIconInHoverImage"
    ></mat-icon>
  </div>
</div>

<ng-template #previewImageContainer>
  <div class="yur-preview-images-panel" [class.isIconPreview]="options?.isIconPreview">
    <div class="preview-images-tools">
      <mat-button-toggle-group
        class="aspect-ratio-toggle-group"
        *ngIf="options?.isUseAspectRatioTool"
        [value]="aspectRatioList[0]"
        [appearance]="false"
      >
        <mat-button-toggle *ngFor="let aspectRatio of aspectRatioList" (click)="onSetAspectRatio(aspectRatio)" [value]="aspectRatio">
          <div class="aspect-ratio-content">{{ aspectRatio }}</div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-icon fontSet="fas" fontIcon="fa-search-plus" (click)="onZoomIn()"></mat-icon>
      <mat-icon fontSet="fas" fontIcon="fa-search-minus" (click)="onZoomOut()"></mat-icon>
    </div>
    <div class="preview-images-block">
      <img #previewImage crossorigin class="preview-images" [src]="previewSrc" alt="preview icon" />
    </div>
    <div class="preview-btn-panel">
      <button mat-raised-button color="accent" (click)="onCancelPreview()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onFinishPreview()">Done</button>
    </div>
  </div>
</ng-template>
