.about-me-person-info {
  display: flex;

  .about-me-person-info-description {
    flex: 1;

    mat-form-field {
      display: block;
    }
  }

  .about-me-person-info-photo {
    flex: 1;

    yur-upload-image {
      height: 100%;
    }
  }
}

.about-me-person-link {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  column-gap: 12px;
  row-gap: 8px;
}
